.scale {
    transition: 0.3s;
}

.scale:hover {
    scale: 1.1;
}

.scale:active {
    scale: 1.05;
}

.scale2 {
    transition: 0.3s;
}


.scale2:active {
    scale: 1.05;
}


.Easy {
    color: rgb(12, 70, 12);
    background-color: rgb(165, 228, 152);
    border: 2px solid rgb(6, 78, 6);
    border-radius: 30px;
    width: 300px;
}

.Medium {
    color: goldenrod;
    background-color: rgb(221, 220, 153);
    border: 2px solid goldenrod;
    border-radius: 30px;
    width: 300px;
}

.Hard {
    color: rgb(121, 8, 8);
    background-color: rgb(241, 128, 128);
    border: 2px solid rgb(121, 8, 8);
    border-radius: 30px;
    width: 300px;
}

body {
    background-color: rgb(56, 29, 56);
}

.form-control::placeholder {
    color: white;
}

.big {
    height: 85vh;
    width: 100vw;
}



.slide1 {
    transform: translateX(-600vw);
    animation: slidedown 1s forwards;
    animation-delay: 0.5s; /* Add delay to the first element */
    color: gold;
}

.slide2 {
    transform: translateX(-600vw);
    animation: slidedown 1s forwards ;
    animation-delay: 1s; /* Add delay to the first element */
    color: gold;
}

.slide3 {
    transform: translateX(-600vw);
    animation: slidedown 1s forwards;
    animation-delay: 1.5s; /* Add delay to the first element */
    color: gold;
}

.slide4 {
    transform: translateX(-600vw);
    animation: slidedown 1s forwards;
    animation-delay: 2s; /* Add delay to the first element */
    color: gold;
}

@keyframes slidedown {
    from {
        transform: translateY(-1000vh); /* Start top */

    }
    to {
        transform: translateY(0vh); /* End position (fully visible) */
        transform: translateX(0vw);
    }
}

.slippitySlide {
    position: absolute;
    bottom: 0;
    font-family: "usurp", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.idk {
    color: gold;
}

.form-control:hover, .form-control:active, .form-control:focus {
    box-shadow: none;
}

#difficultySelection {
    animation: appear 1s forwards;
    opacity: 0;
    animation-delay: 4s;

}

@keyframes appear {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.appear {
    animation: appear 1s forwards;
    opacity: 0;
    animation-delay: 1s;
}

.jumpscare {
    animation: scary 0.00001s forwards;
    opacity: 0;
    animation-delay: 5s;
}

@keyframes scary {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

#endPic {
    background-size: cover; 
    height: 100vh;
    width: 100vw;
}

#endContainer2 {
    position: absolute;
    left: 30%;
    top: 50%;
    animation: dissappear 0.00001s forwards;
    opacity: 1;
    animation-delay: 5s;
}

@keyframes dissappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}